body{
    justify-content: center; /* Center horizontally */
    user-select: none;
    align-items: center; /* Center vertically */
    background-image:linear-gradient(to left top, #122a59, #112750, #112547, #11223e, #121f35, #0f2033, #0d2030, #0d202d, #09242e, #08272e, #0a2a2d, #0f2d2c);
}
.result-content{
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 8 8px 32px 0 rgb(31, 131, 135);
backdrop-filter: blur( 8px );
-webkit-backdrop-filter: blur( 8px );
border-radius: 10px;
width: 100%;
margin: 5vh;
border: 1px solid rgba( 255, 255, 255, 0.18 );
padding:2vh ;
}

.image img{
    height: 20vh;
    overflow: hidden;
}

.display-num{
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}

.min-max{
    display: flex;
    justify-content:space-between ;
    font-size: small;
}
.min-max p span{
    font-size:larger ;
    font-style:bold;

}

.result-container{
    display: flex;
    
}

.image-main img{
    height :50vh !important;;
}
.container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center; /* Center content horizontally and vertically */
    height: max-content;
    left: 50%;
    background-color: #071635;
    border-radius: 10px;
    padding-bottom: 2vh;
    margin-bottom: 2rem;
    width: 180vh; /* Limit the width as needed */
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.main-content{
    padding: 2vh;
    margin: 1vh;
}

button{
   margin-left: 3vh;
   height: 7vh;
   border-radius: 5vh;
}
button i{
    color: white;
    vertical-align: top;
}
.main-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.quote{
    justify-content: center;
    text-align: center;
    font-style: italic;
}
.quote .active{
font-size: large;
color: aqua;
font-style: normal;
}
@media (max-width:768px){
    body,.result-container{
        flex-direction: column;
    }
    .container, .result-content{
        max-width:max-content;
    }
    .quote{
        font-size: smaller;
        text-align: center;
       
    }
    .image-main img{
        width: 50vh;
        max-height: 30vh;
       
    }
    .image-main{
        position: relative;
        left:10%
    }
    .image img {
        justify-content: center;
        margin-left: 2vh;
        height: 32vh;
        padding: 0px;
    }
    .content-2{
        justify-content: center;
        align-items:center ;
        padding-left: 10vh;
    }
    .result{
        text-align: center;
        justify-content: center;
        //padding-left: 12vh;
    }
}